# <u>SGBD.Langage_SQL</u> (Partie_II)

## <u>II/ Langage SQL (AvancÃ©)</u>


Dans toute la suite, nous allons toujours travailler avec la base de donnÃ©es ```livres.db``` qui provient de l'ouvrage paru chez Ellipses, citÃ© en bibliographie.

**PrÃ©-requis :** tÃ©lÃ©chargez la base de donnÃ©es https://github.com/lmayer65/NSI_T/blob/main/SGBD/livres.db et la monter dans `Jupyter`.

In [ ]:
####################################
########### A exÃ©cuter !! ##########
####################################

%pip install --user ipython-sql sqlalchemy pandas "prettytable<3.10" --quiet
%load_ext sql
%config SqlMagic.autopandas = True

####################################

In [ ]:
####################################
########### A exÃ©cuter !! ##########
####################################

%sql sqlite:///livres.db
    
####################################

> Dans toute la suite, les manipulations sont Ã  faire en interrogeant la base de donnÃ©es ```livres.db```, avec l'une des mÃ©thodes indiquÃ©es ci-dessus.
 Cette base de donnÃ©es contient les tables suivantes :
https://github.com/lmayer65/NSI_T/blob/main/SGBD/tables_livres.png

 ### <u>1/ Des recherches croisÃ©es sur les tables : les jointures</u>

Observons le contenu de la table Â«empruntÂ» :

```sql
SELECT * FROM emprunt;
``` 
https://github.com/lmayer65/NSI_T/blob/main/SGBD/req_ex_1.png

Le contenu est peu lisible. Souvenons-nous du diagramme de la base de donnÃ©es.

https://github.com/lmayer65/NSI_T/blob/main/SGBD/tables_livres.png

 Pour que la table Â«empruntÂ» soit lisible, il faudrait (dans un premier temps) que l'on affiche Ã  la place de l'ISBN le titre de l'ouvrage. Or ce titre est disponible dans la table Â«livresÂ».  On va donc procÃ©der Ã  une **jointure** de ces deux tables.</u>
 

#### <u>Exemple 13</u> : Jointure de deux tables ðŸ – JOIN
- **Commande :** 
```sql
SELECT livre.titre, emprunt.code_barre, emprunt.retour FROM emprunt
         JOIN livre ON emprunt.isbn = livre.isbn;
``` 
- **Traduction :** 
Comme plusieurs tables sont appelÃ©es, nous prÃ©fixons chaque colonne avec le nom de la table. Nous demandons ici l'affichage de la table Â«empruntÂ», mais oÃ¹ on aura remplacÃ© l'ISBN (peu lisible) par le titre du livre.

L'expression 
```sql
JOIN livre ON emprunt.isbn = livre.isbn
``` 
doit se comprendre comme ceci : on Â«inviteÂ» la table Â«livresÂ» (dont on va afficher la colonne Â«titreÂ»). La correspondance entre la table Â«livresÂ» et la table Â«empruntÂ» doit se faire sur l'attribut ISBN, qui est la clÃ© primaire de Â«livresÂ» et une clÃ© Ã©trangÃ¨re d'Â«empruntsÂ».  
Il est donc trÃ¨s important de spÃ©cifier ce sur quoi les deux tables vont se retrouver (ici, l'ISBN)

In [ ]:
%%sql

/* **********Ecrire la commande ici************ */

#### <u>Exemple 14</u> : Jointure de trois tables ðŸ – JOIN

Le rÃ©sultat prÃ©cÃ©demment a permis d'amÃ©liorer la visibilitÃ© de la table Â«empruntÂ», mais il reste la colonne Â«code_barreÂ» qui est peu lisible. Nous pouvons la remplacer par le titre du livre, en faisant une nouvelle jointure, en invitant maintenant les deux tables Â«livreÂ» et Â«usagerÂ».

- **Commande :** 
```sql
SELECT u.nom, u.prenom, l.titre, e.retour FROM emprunt AS e
         JOIN livre AS l ON e.isbn = l.isbn
         JOIN usager AS u ON e.code_barre = u.code_barre;
``` 
- **Traduction :** 
Il faut bien comprendre que la table principale qui nous intÃ©resse ici est Â«empruntsÂ», mais qu'on modifie les valeurs affichÃ©es en allant chercher des correspondances dans deux autres tables. 
Notez ici que des alias sont donnÃ©s aux tables (par **AS**) afin de faciliter l'Ã©criture.

In [ ]:
%%sql

/* **********Ecrire la commande ici************ */


### <u>2/ CrÃ©ation et modification d'une base de donnÃ©es</u>



L'objectif est de crÃ©er la table suivante :

| id | Nom | Maths | Anglais | NSI |
|:-----:|:-----:|:-------:|:----:|:----:|
| 1 | Alice | 16 | 11 | 17 |
| 2 | Bob  | 12 | 15 | 10 |
| 3 | Charles | 9 | 11 | 18 |

#### <u>Exemple 15</u> : CrÃ©ation d'une table ðŸ – CREATE TABLE

- **Commande :** 
```sql
CREATE TABLE Table_notes (
        Id INTEGER PRIMARY KEY,
        Nom TEXT,
        Maths INTEGER,
        Anglais INTEGER,
        NSI INTEGER
        );
``` 
<u><b>Remarques</b></u> :
C'est l'utilisateur qui spÃ©cifie, Ã©ventuellement, quel attribut sera une clÃ© primaire. On peut tout Ã  fait utiliser le mot clÃ© `AUTOINCREMENT` comme type qui permettra d'attribuer un numÃ©ro (croissant) unique Ã  chaque enregistrement.

In [ ]:
%%sql

/* **********Ecrire la commande ici************ */

CREATE TABLE IF NOT EXISTS Table_notes (
      Id INTEGER PRIMARY KEY,
      Nom TEXT,
      Maths INTEGER,
      Anglais INTEGER,
      NSI INTEGER
      );

#### <u>Exemple 16</u> : Insertion de valeurs ðŸ – INSERT INTO, VALUES

- **Commande :** 
```sql
INSERT INTO Table_notes VALUES  (1, 'Alice', 16, 11, 17),
		                (2, 'Bob', 12, 15, 10),
                        (3, 'Charles', 9, 11, 14);
``` 

<u><b>Remarque</b></u> : si le mot clÃ© `AUTOINCREMENT` a Ã©tÃ© utilisÃ© pour gÃ©nÃ©rer automatiquement la clÃ© primaire, il ne faut pas l'indiquer dans la requÃªte.

In [ ]:
%%sql

/* **********Ecrire la commande ici************ */




/* *** Pour vÃ©rifier que les donnÃ©es sont bien entrÃ©es *** */

SELECT * FROM Table_notes;

#### <u>Exemple 17</u> : IntÃ©rÃªt de la clÃ© primaire
Essayons d'insÃ©rer un 4Ã¨me enregistrement ayant le mÃªme ```id``` qu'un autre Ã©lÃ¨ve. 

- **Commande :** 
```sql
INSERT INTO Table_notes VALUES  (3, 'Denis', 18, 10, 12);
```

In [ ]:
%%sql

/* **********Ecrire la commande ici************ */

<u><b>Question (Oral)</b></u> : que se passe-t-il ? <b>Justifier</b>.